version: '3.7'

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-namenode
    environment:
      - CLUSTER_NAME=hadoop-cluster
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - ./data:/data
    networks:
      - hadoop

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-datanode
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - SERVICE_PRECONDITION=namenode:9870
    depends_on:
      - namenode
    ports:
      - "9864:9864"
    volumes:
      - ./data:/data
    networks:
      - hadoop

  pig:
    build: ./pig
    container_name: pig
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    depends_on:
      - namenode
      - datanode
    volumes:
      - ./:/workspace/batch_analysis/pig
      - ./data:/data
      - ./pig/run_analysis.sh:/run_analysis.sh
    command: ["/bin/bash", "/run_analysis.sh"]
    networks:
      - hadoop

networks:
  hadoop:
    driver: bridge